.topBar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 5;
    box-sizing: border-box;

    @media (max-width: 500px) {
        justify-content: space-between;
        padding: 12px 8px;
    }


}

.left {
    width: 20%;

    @media (max-width: 500px) {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        flex-shrink: 0;
        z-index: 5;
        position: relative;
        min-height: 40px;
    }


    object-fit: cover;

    @media (max-width: 500px) {
        object-fit: auto;
    }


    img {
        height: 30px;

        @media (max-width: 500px) {
            width: 20px;
            height: 20px;
        }
    }
}

.center {
    width: 60%;
    display: flex;
    justify-content: center;

    @media (max-width: 500px) {
        width: auto;
        flex: 1;
        margin: 0 10px;
        z-index: 10;
        position: relative;
        min-width: 0;
    }
}

.right {
    width: 20%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 500px) {
        width: auto;
        flex-shrink: 0;
        z-index: 5;
        position: relative;
    }
}