.topBar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 5;

    @media (max-width: 500px) {
        justify-content: space-between;
    }


}

.left {
    width: 20%;

    @media (max-width: 500px) {
        width: 15%;

    }


    object-fit: cover;


    img {
        height: 30px;

        @media (max-width: 500px) {
            width: 15%;
        }
    }
}

.center {
    width: 60%;
    display: flex;
    justify-content: center;

    @media (max-width: 500px) {
        width: 70%;
        margin-right: 10px;
    }
}

.right {
    width: 20%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 500px) {
        padding-right: 10px;
        width: 15%;
    }
}