@import "~/src/scss/index.scss";

.fullModal {
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    top: 0;
    border-radius: 0 !important;
    background-color: red !important;
    position: relative !important;
    width: 100% !important;
    height: 100%;

    >div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 768px) {
        >div {
            padding: 20px;
        }
    }
}

.close {
    position: absolute !important;
    top: 10px !important;
    right: 20px !important;
    font-size: 40px !important;
    color: $danger !important;

    @media (max-width: 768px) {
        top: 5px !important;
        right: 10px !important;
        font-size: 30px !important;
    }
}