@import "~/src/scss/index.scss";

.info {
    display: flex !important;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.summary {
    width: 50%;
    padding: 20px 20px 20px 0;

    @media (max-width: 768px) {
        width: 100%;
        padding: 15px 0;
        margin-bottom: 15px;
    }

    p {
        color: $text-secondary;
        line-height: 25px;

        @media (max-width: 768px) {
            font-size: 13px;
            line-height: 20px;
        }
    }
}

.more {
    width: 50%;
    padding: 20px 0 20px 20px;

    @media (max-width: 768px) {
        width: 100%;
        padding: 15px 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding-bottom: 5px;

            @media (max-width: 768px) {
                font-size: 13px;
                padding-bottom: 6px;
            }

            span {
                color: $text-secondary;
            }
        }
    }
}