.stepOne {
    display: flex;
    width: 100%;

    .center {
        width: 65%;
        padding-right: 20px;
    }

    .right {
        width: 35%;
        padding-left: 20px;
    }

    @media (max-width: 500px) {

        flex-direction: column;

        .center {
            width: 100%;
            padding-bottom: 20px;
            padding-right: 0px;
        }

        .right {
            width: 100%;
            padding-left: 0px;
        }


    }
}