.tabs {
    position: relative;
    margin-top: 50px;

    >div {
        >a {
            &:last-of-type {

                position: absolute !important;
                right: 0;
            }

            &:nth-last-of-type(2) {
                position: absolute !important;
                right: 46px;
            }

            @media (max-width: 500px) {

                font-size: 10px !important;

                &:last-of-type {

                    position: relative !important;
                }

                &:nth-last-of-type(2) {
                    position: relative !important;
                    right: 10px;
                }


            }
        }

        @media (max-width: 500px) {

            width: 100% !important;

        }


    }


}

.containerForms {
    display: flex;
    margin: 0 -10px;
    margin-top: 50px;

    @media (max-width: 500px) {}
}