@import "~/src/scss/index.scss";

.barTrust {
    width: 100%;
    background-color: $background-tertiary;



}

.content {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 40px 0;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        gap: 0;
    }

    @media (max-width: 500px) {
        padding: 15px 0;
    }
}

.block {
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-right: 1px solid $border-primary;
    width: 100%;

    @media (max-width: 768px) {
        border-right: 0px;
        border-bottom: 1px solid $border-primary;
        padding: 20px;
        justify-content: flex-start;
    }

    @media (max-width: 500px) {
        padding: 15px;
        border-bottom: 1px solid $border-primary;
    }

    &:last-of-type {
        border: 0;
    }

    i {
        font-size: 35px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        min-width: 35px;

        @media (max-width: 768px) {
            font-size: 28px;
            margin-right: 12px;
            min-width: 28px;
        }

        @media (max-width: 500px) {
            font-size: 24px;
            margin-right: 10px;
            min-width: 24px;
        }
    }

    h5 {
        font-size: 20px;

        @media (max-width: 768px) {
            font-size: 16px;
            margin-bottom: 4px;
        }

        @media (max-width: 500px) {
            font-size: 14px;
        }
    }

    span {
        font-size: 13px;
        color: $text-secondary;

        @media (max-width: 768px) {
            font-size: 12px;
        }

        @media (max-width: 500px) {
            font-size: 11px;
        }
    }
}