@import "~/src/scss/index.scss";

.footer {
    background-color: $background-tertiary;
    padding: 30px 0;
}

.columns {
    display: flex;
    justify-content: space-between;

    @media (max-width: 500px) {
        >div:first-child {
            width: 50%;
        }

        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    >div {
        width: 33.33%;

        @media (max-width: 500px) {
            width: 100%;
        }

        >a>img {
            width: 150px;
        }

        >ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 0;
            padding: 0;
        }

        &.social {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            @media (max-width: 500px) {
                justify-content: center;
            }

            >a {
                margin-left: 10px;
            }
        }
    }


}

.copyright {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $border-primary;

    >span {
        color: $text-secondary;
    }

}