@import "~/src/scss/index.scss";

.footer {
    background-color: $background-tertiary;
    padding: 30px 0;

    @media (max-width: 768px) {
        padding: 20px 0;
    }

    @media (max-width: 500px) {
        padding: 12px 0;
    }
}

.columns {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    @media (max-width: 500px) {
        gap: 10px;
    }

    >div {
        width: 33.33%;

        @media (max-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        >a>img {
            width: 150px;

            @media (max-width: 768px) {
                width: 100px;
            }

            @media (max-width: 500px) {
                width: 70px;
            }
        }

        >ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 0;
            padding: 0;

            @media (max-width: 768px) {
                gap: 4px;
                font-size: 14px;
            }

            @media (max-width: 500px) {
                gap: 2px;
                font-size: 12px;
            }
        }

        &.social {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            @media (max-width: 768px) {
                justify-content: center;
            }

            >a {
                margin-left: 10px;

                @media (max-width: 768px) {
                    margin-left: 8px;
                }

                @media (max-width: 500px) {
                    margin-left: 4px;
                }
            }
        }
    }


}

.copyright {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $border-primary;

    @media (max-width: 768px) {
        margin-top: 15px;
        padding-top: 15px;
    }

    @media (max-width: 500px) {
        margin-top: 8px;
        padding-top: 8px;
    }

    >span {
        color: $text-secondary;

        @media (max-width: 768px) {
            font-size: 13px;
        }

        @media (max-width: 500px) {
            font-size: 11px;
        }
    }

}