@import "~/src/scss/index.scss";

.container {
    position: relative;
    height: 500px;

    &::after {
        content: "";
        background-color: $background-primary;
        height: 60px;
        width: 100%;
        position: absolute;
        // background-color: red;
        bottom: -1px;
        clip-path: polygon(0 100%, 100% 100%, 0 0);

    }

    @media (max-width: 768px) {}
}

.wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.infoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .date {
        font-size: 12px;
        color: $primary;
        font-weight: bold;
    }

    h2 {
        margin: 5px 0 20px 0 !important;
    }

    .price {
        display: flex;
        align-items: center;
    }

    .finalPrice {
        margin-left: 65px;
        font-size: 30px;
    }
}