.content {
    display: flex;
    align-items: center;

    >div {

        &:nth-child(1),
        &:nth-child(2) {
            width: 50%;
            margin: 0 !important;
        }

        &:nth-child(2) {
            margin-left: 15px !important;
        }

        &:last-of-type {
            margin-left: 15px !important;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        gap: 0;

        >div {
            width: 100% !important;
            margin: 0 !important;

            &:nth-child(2) {
                margin-left: 0 !important;
            }

            &:last-of-type {
                margin-left: 0 !important;
            }
        }
    }
}