.gridBooks {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    margin-top: 20px;

    @media (max-width: 500px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: unset;
    }
}

.book {
    width: 33.33%;
    margin-bottom: 10px;

    @media (max-width: 500px) {
        width: 100%;
    }

    &:hover {
        opacity: 0.6;
    }

    >div {
        position: relative;
        padding: 10px 10px 0 10px;

        &:last-of-type {
            padding-top: 0;
            display: flex;
            justify-content: space-between;
        }

        >img {
            width: 100%;
            border-radius: 16px;
        }

        .discount {
            position: absolute;
            left: 10px;
            bottom: 5px;
        }

        .price {
            font-size: 18px;

            @media (max-width: 500px) {
                font-size: 14px;
            }
        }
    }

    .infoBook {
        span {
            @media (max-width: 500px) {
                font-size: 12px;
            }
        }

    }
}